<div *ngIf='!navSection'>
	<div class="well well-sm">
		<p class="text-center">Appointment App</p> Appointment application will allow any user to login using a name and manage simple appointments.</div>
</div>
<div *ngIf="navSection == 'dashboard'">
	<div class="well well-sm">
		<p class="text-center">Appointment App</p> User may view all appointments yet only has ability to manage their own appointments.</div>
</div>
<div *ngIf="navSection == 'add' || navSection == 'edit'">
	<div class="well well-sm">
		<p class="text-center">Appointment App</p> User may view all appointments. However, he/she may only be able to edit and add their own.</div>
</div>
<div *ngIf="navSection == 'delete'">
	<div class="well well-sm">
		<p class="text-center">Appointment App</p> User may view all appointments. However, he/she may only be able to edit and add their own.</div>
</div>
<div *ngIf="navSection == 'logout'">
	<div class="well well-sm">
		<p class="text-center">Appointment App</p> User may view all appointments. However, he/she may only be able to edit and add their own.</div>
</div>