<!-- Container (Services Section) -->
<div id="portfolio" class="container-fluid text-center">
	<h2>MEAN Stack</h2>

	<div class="row">
		<div class="col-sm-4">
			<a [routerLink]="['/questions']">
				<span class="glyphicon glyphicon-question-sign logo-small"></span>
			</a>
			<h4>Questions and Answers Application</h4>
			<p>Post and reply to other users questions. This is a basic application to visualize the concepts of login, registration, C.R.U.D,
				and profile maintenance.</p>
		</div>
		<div class="col-sm-4">
			 <a [routerLink]="['/appointment']"><span class="glyphicon glyphicon-off logo-small"></span></a>
			<h4>Appointment System</h4>
			<p>Create an appointment system to demonstrate the use of C.R.U.D.  Login using any name and manage any appointments you've created.</p>
		</div>

		<div class="col-sm-4">
				<span class="glyphicon glyphicon-sort logo-small"></span>
			<h4>Sockets.io<br>Under Construction</h4>
			<p>Display easy use of a chatroom.</p>
		</div>
	</div>

	
</div>
